ags/
btop/
cava/
clerk/
Code/
composer/
create-next-app-nodejs/
dconf/
eog/
fastfetch/
gh/
go/
gtk-3.0/
mpv/
nextjs-nodejs/
procps/
QtProject.conf/
user-dirs.dirs/
user-dirs.locale/
zoom.conf/
zoomus.conf/
xfce4/
yay/
systemd/
turborepo/

